# 5th homework of data mining
Parsa KamaliPour - 97149081

In [87]:
from copy import deepcopy
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.display_functions import display
from sklearn.preprocessing import OneHotEncoder

In [88]:
dataset = pd.read_csv("penguins.csv")
display(dataset)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

## Drop NaN

In [89]:
data_back = deepcopy(dataset)
dataset.dropna(
    subset=[
        'species', 'island', 'bill_length_mm', 'bill_depth_mm',
        'flipper_length_mm', 'body_mass_g', 'sex'
    ],
    inplace=True
)
display(dataset)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

## Normalize features

In [90]:
ss = StandardScaler()
dataset.iloc[:, 2:-1] = ss.fit_transform(dataset.iloc[:, 2:-1])
display(dataset)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,-0.896042,0.780732,-1.426752,-0.568475,MALE
1,Adelie,Torgersen,-0.822788,0.119584,-1.069474,-0.506286,FEMALE
2,Adelie,Torgersen,-0.676280,0.424729,-0.426373,-1.190361,FEMALE
4,Adelie,Torgersen,-1.335566,1.085877,-0.569284,-0.941606,FEMALE
5,Adelie,Torgersen,-0.859415,1.747026,-0.783651,-0.692852,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,0.587352,-1.762145,0.931283,0.892957,FEMALE
340,Gentoo,Biscoe,0.514098,-1.457000,1.002739,0.799674,FEMALE
341,Gentoo,Biscoe,1.173384,-0.744994,1.502928,1.919069,MALE
342,Gentoo,Biscoe,0.221082,-1.202712,0.788372,1.234995,FEMALE
343,Gentoo,Biscoe,1.081817,-0.541564,0.859828,1.483749,MALE

In [91]:
dataset = dataset.reset_index(drop=True)
display(dataset)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,-0.896042,0.780732,-1.426752,-0.568475,MALE
1,Adelie,Torgersen,-0.822788,0.119584,-1.069474,-0.506286,FEMALE
2,Adelie,Torgersen,-0.676280,0.424729,-0.426373,-1.190361,FEMALE
3,Adelie,Torgersen,-1.335566,1.085877,-0.569284,-0.941606,FEMALE
4,Adelie,Torgersen,-0.859415,1.747026,-0.783651,-0.692852,MALE
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,0.587352,-1.762145,0.931283,0.892957,FEMALE
329,Gentoo,Biscoe,0.514098,-1.457000,1.002739,0.799674,FEMALE
330,Gentoo,Biscoe,1.173384,-0.744994,1.502928,1.919069,MALE
331,Gentoo,Biscoe,0.221082,-1.202712,0.788372,1.234995,FEMALE
332,Gentoo,Biscoe,1.081817,-0.541564,0.859828,1.483749,MALE

In [92]:
le_spe = LabelEncoder()
dataset['species'] = le_spe.fit_transform(dataset[['species']])
display(dataset)

d:\github\introduction-to-data-mining\venv\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Torgersen,-0.896042,0.780732,-1.426752,-0.568475,MALE
1,0,Torgersen,-0.822788,0.119584,-1.069474,-0.506286,FEMALE
2,0,Torgersen,-0.676280,0.424729,-0.426373,-1.190361,FEMALE
3,0,Torgersen,-1.335566,1.085877,-0.569284,-0.941606,FEMALE
4,0,Torgersen,-0.859415,1.747026,-0.783651,-0.692852,MALE
...,...,...,...,...,...,...,...
328,2,Biscoe,0.587352,-1.762145,0.931283,0.892957,FEMALE
329,2,Biscoe,0.514098,-1.457000,1.002739,0.799674,FEMALE
330,2,Biscoe,1.173384,-0.744994,1.502928,1.919069,MALE
331,2,Biscoe,0.221082,-1.202712,0.788372,1.234995,FEMALE
332,2,Biscoe,1.081817,-0.541564,0.859828,1.483749,MALE

In [93]:
le_isl = LabelEncoder()
dataset['island'] = le_isl.fit_transform(dataset[['island']])
display(dataset)

d:\github\introduction-to-data-mining\venv\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,-0.896042,0.780732,-1.426752,-0.568475,MALE
1,0,2,-0.822788,0.119584,-1.069474,-0.506286,FEMALE
2,0,2,-0.676280,0.424729,-0.426373,-1.190361,FEMALE
3,0,2,-1.335566,1.085877,-0.569284,-0.941606,FEMALE
4,0,2,-0.859415,1.747026,-0.783651,-0.692852,MALE
...,...,...,...,...,...,...,...
328,2,0,0.587352,-1.762145,0.931283,0.892957,FEMALE
329,2,0,0.514098,-1.457000,1.002739,0.799674,FEMALE
330,2,0,1.173384,-0.744994,1.502928,1.919069,MALE
331,2,0,0.221082,-1.202712,0.788372,1.234995,FEMALE
332,2,0,1.081817,-0.541564,0.859828,1.483749,MALE

In [94]:
le_sex = LabelEncoder()
dataset['sex'] = le_sex.fit_transform(dataset[['sex']])
display(dataset)

d:\github\introduction-to-data-mining\venv\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,-0.896042,0.780732,-1.426752,-0.568475,1
1,0,2,-0.822788,0.119584,-1.069474,-0.506286,0
2,0,2,-0.676280,0.424729,-0.426373,-1.190361,0
3,0,2,-1.335566,1.085877,-0.569284,-0.941606,0
4,0,2,-0.859415,1.747026,-0.783651,-0.692852,1
...,...,...,...,...,...,...,...
328,2,0,0.587352,-1.762145,0.931283,0.892957,0
329,2,0,0.514098,-1.457000,1.002739,0.799674,0
330,2,0,1.173384,-0.744994,1.502928,1.919069,1
331,2,0,0.221082,-1.202712,0.788372,1.234995,0
332,2,0,1.081817,-0.541564,0.859828,1.483749,1